
@{
    ViewData["Title"] = "View";
    
}
<main id="main">

    <!-- ======= My & Family Section ======= -->
    <section id="about" class="about">
        <div class="container">


            <div class="row content">
                <div class="col-lg-6">
                    <img src="assets/img/Profile.jpg" class="img-fluid pt-5" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 transbox">
                    <h2 class="pt-2">The Start</h2>
                    <p class="intro1">
                        &emsp; Allow me to introduce myself. I hail from the southeastern region of Michigan, where I was nurtured by two affectionate parents. My father, a dedicated union pipefitter, and my mother, a devoted stay-at-home caregiver, instilled in me the values of diligence and respect from a young age. I have consistently maintained a proactive mindset, driven by a penchant for crafting innovative solutions to address everyday challenges.
                    </p>
                    <h3>The Journey</h3>
                    <p>

                        &emsp; My professional journey commenced within the construction industry, where I initially embarked on a path focused on the installation of HVAC systems for both industrial and multifamily apartment projects. Within a span of two years, I demonstrated exceptional dedication and competence, resulting in a promotion to a supervisory role. Building upon my expertise and leadership capabilities, I continued to excel, ultimately ascending to the position of Project Manager.
                    </p>
                    <h3>The Plan</h3>
                    <p>&emsp; Recently I have become a new first time father! This has been an extremly awakening experience. My daughter was born 12 weeks premature and spent the first 2 and a half months of her life in the neonatal intensive care unit, "Nicu" more commonly known, which came with alot of challenges. First being my priorities. I want to be close to my family and help guide her through life. Which is the reason for stepping away from construction. Next was a focus on better health for myself and family. Persuing a career in something i was familular and passionate about, Tech! I want my family to see me at my best and not stressed from the everyday life of construction deadlines.</p>


                    <!-- <p>
                      Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                      culpa qui officia deserunt mollit anim id est laborum.
                    </p> -->

                </div>
            </div>

        </div>
    </section><!-- End My & Family Section -->
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <h3 class="text-center pb-5  ">These are some of the languages I enjoy working with!</h3>
        <div class="container">


            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><img src="~/assets/img/html.png" alt="Html Icon" id="target" class="img-fluid thumb box2"></div>
                    <h4 class="title"><a href="">Html</a></h4>

                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><img src="~/assets/img/logocss.webp" alt="Html Icon" id="target" class="img-fluid thumb box1"></div>
                    <h4 class="title"><a href="">CSS</a></h4>

                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><img src="~/assets/img/js.png" alt="Html Icon" id="target" class="img-fluid thumb box1"></div>
                    <h4 class="title"><a href="">JavaScript</a></h4>

                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><img src="~/assets/img/c++.png" alt="Html Icon" id="target" class="img-fluid thumb"></div>
                    <h4 class="title"><a href="">C++</a></h4>

                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><img src="~/assets/img/Sql.svg" alt="Html Icon" id="target" class="img-fluid thumb box1"></div>
                    <h4 class="title"><a href="">Sequel</a></h4>

                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><img src="~/assets/img/jQuery.png" alt="Html Icon" id="target" class="img-fluid thumb box2"></div>
                    <h4 class="title"><a href="">jQuery</a></h4>

                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><img src="~/assets/img/sharp.png" alt="Html Icon" id="target" class="img-fluid thumb box1"></div>
                    <h4 class="title"><a href="">C Sharp</a></h4>

                </div>
            </div>

        </div>
    </section><!-- End Features Section -->
    <!-- ======= Recent Photos Section ======= -->
    <section id="recent-photos" class="recent-photos">
        <div class="container">

            <div class="section-title">
                <h2>My Family</h2>
                <p>These are some photos of what makes me who i am today!</p>
            </div>

            <div class="recent-photos-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><a href="assets/img/pic1.jpg" class="glightbox d-block"><img src="~/assets/img/pic1.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a href="assets/img/pic2.png" class="glightbox d-block"><img src="~/assets/img/pic2.png" class="img-fluid pic" alt=""></a></div>
                    <div class="swiper-slide"><a href="assets/img/pic3.jpg" class="glightbox d-block"><img src="~/assets/img/pic3.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a href="assets/img/pic4.jpg" class="glightbox d-block"><img src="~/assets/img/pic4.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a href="assets/img/pic5.jpg" class="glightbox d-block"><img src="~/assets/img/pic5.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a href="assets/img/pic6.jpg" class="glightbox d-block"><img src="~/assets/img/pic6.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a href="assets/img/pic7.jpg" class="glightbox d-block"><img src="~/assets/img/pic7.jpg" class="img-fluid" alt=""></a></div>

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Recent Photos Section -->

</main><!-- End #main -->