@{
    ViewData["Title"] = "Links";
    
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs pt-4">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Links</h2>
                <ol>
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li>Links</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        <div class="container">
            <h2 class="text-center">Classmates</h2>


            <div class="row gallery-container">

                <div class="col-lg-3 col-md-6 gallery-item filter-vacation">
                    <div class="gallery-wrap">
                        <img src="~/assets/img/Ben.jpg" class="img" alt="">

                        <div class="gallery-info">
                            <h4>Ben Grochowsky</h4>
                            <p>Software Engineer</p>
                            <div class="gallery-links">
                                <a href="https://www.linkedin.com/in/benjamin-grochowsky-501542295/" class="btn btn-dark" title="Vacation 1"><i class="">LinkedIn</i></a>
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 gallery-item filter-vacation">
                    <div class="gallery-wrap">
                        <img src="~/assets/img/Colton.jpg" class="img-fluid" alt="">
                        <div class="gallery-info">
                            <h4>Colton</h4>
                            <p>Software Engineer</p>
                            <div class="gallery-links">
                                <a href="https://www.linkedin.com/in/colton-hammond-a39b2b295/" class="btn btn-dark" title="Vacation 1"><i class="">LinkedIn</i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 gallery-item filter-vacation">
                    <div class="gallery-wrap">
                        <img src="~/assets/img/GabrielRamirez.jpg" class="img-fluid" alt="">
                        <div class="gallery-info">
                            <h4>Gabriel Ramirez</h4>
                            <p>Software Engineer</p>
                            <div class="gallery-links">
                                <a href="https://www.linkedin.com/in/gabriel-ramirez-29b49855/" class="btn btn-dark" title="Vacation 1"><i class="">LinkedIn</i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 gallery-item filter-vacation">
                    <div class="gallery-wrap">
                        <img src="~/assets/img/Harrison.jpg" class="img-fluid" alt="">
                        <div class="gallery-info">
                            <h4>Harrison Smith</h4>
                            <p>Software Engineer</p>
                            <div class="gallery-links">
                                <a href="https://www.linkedin.com/in/harrison-smith-74a01b219/" class="btn btn-dark" title="Vacation 1"><i class="">LinkedIn</i></a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6 gallery-item filter-vacation">
                    <div class="gallery-wrap">
                        <img src="~/assets/img/JohnBlack.jpg" class="img-fluid" alt="">
                        <div class="gallery-info">
                            <h4>John Black</h4>
                            <p>Software Engineer</p>
                            <div class="gallery-links">
                                <a href="https://www.linkedin.com/in/john-black-1b0261182/" class="btn btn-dark" title="Vacation 1"><i class="">LinkedIn</i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 gallery-item filter-vacation">
                    <div class="gallery-wrap">
                        <img src="~/assets/img/Kate.jpg" class="img-fluid" alt="">
                        <div class="gallery-info">
                            <h4>Kate Baldwin</h4>
                            <p>Software Engineer</p>
                            <div class="gallery-links">
                                <a href="https://www.linkedin.com/404/" class="btn btn-dark" title="Vacation 1"><i class="">LinkedIn</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 gallery-item filter-vacation">
                    <div class="gallery-wrap">
                        <img src="~/assets/img/NathanBoehm.jpg" class="img-fluid" alt="">
                        <div class="gallery-info">
                            <h4>Nathan Boehm</h4>
                            <p>Software Engineer</p>
                            <div class="gallery-links">
                                <a href="https://www.linkedin.com/in/nathanboehm/" class="btn btn-dark" title="Vacation 1"><i class="">LinkedIn</i></a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section><!-- End Gallery Section -->

</main><!-- End #main -->