@{
    ViewData["Title"] = "Resume";

}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs pt-4">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Resume</h2>
                <ol>
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li>Resume</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Story Intro Section ======= -->
    <section id="story-intro" class="story-intro">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2">
                    <img src="~/assets/img/code4.webp" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <p>FULL STACK DEVELOPER</p>
                    <h3>
                        <p>FULL STACK DEVELOPER</p>

                    </h3>
                    <p class="fst-italic">
                        <ul>
                            <li>.NET Core MVC Framework</li>
                            <li>Full Stack Web Application Design</li>
                            <li>C# Fundamentals</li>
                            <li>JavaScript</li>
                            <li>Database Management</li>
                            <li>Unit Testing</li>
                            <li>Software Development Lifecycle</li>
                            <li>Agile Scrum Methodology</li>

                        </ul>
                        <h3>TECHNICAL AND PROFESSIONAL SKILLS</h3>
                        Front End:  HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circled"></i>Middle Tier:  C#, .NET Core MVC, LINQ, EF, Razor Pages</li>
                        <li><i class="bi bi-check-circled"></i> Back End:  ADO.NET, SQL, SQL Server.</li>
                        <li><i class="bi bi-check-circled"></i> Tools:  Azure Data Studio, Visual Studio, Visual Studio Code, SSMS, Git Bash</li>
                        <li>Professional Skills: Troubleshooting, Critical Thinking, Communication, Project Management Fundamentals, Teamwork, Pair Programming</li>
                    </ul>
                    <p>

                    </p>
                </div>
            </div>

        </div>
    </section><!-- End Story Intro Section -->
    <!-- ======= Featured Members Section ======= -->
    <section id="featured-members" class="featured-members">
        <div class="container">

            <div class="row content">
                <div class="col-lg-6">
                    <img src="~/assets/img/Code2.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-3 pt-lg-0 transbox">
                    <h3>INDEPENDENT DEVELOPMENT PROJECTS</h3>
                    <p class="fst-italic pt-2">
                        Personal Site
                    </p>
                    <p>Created a website to highlight all of my projects and link to my classmates for future networking and social opertunities.</p>
                    <p class="fst-italic pt-2">
                        StoreFront
                    </p><p>Created a secure application for managing product data. Application is built to simulate an online store front with a shopping cart. Administrators have the ability to manage product, category and vendor data.</p>
                    <p class="fst-italic pt-2">
                        S.A.T. Scheduling Administration Tool
                    </p>
                    <p>Created a secure application for managing product data. Application is built to simulate an online class scheduling system.  Administrators will have the ability to manage students, courses, scheduled classes, and enrollments.</p>

                </div>
            </div>

            <div class="row content">
                <div class="col-lg-6 order-1 order-lg-2">
                    <img src="~/assets/img/code3.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 order-2 order-lg-1 pt-3 pt-lg-0">
                    <h3>TECHNICAL TRAINING</h3>
                    <p class="fst-italic">
                        Full Stack Coding Program, Centriq
                        Kansas City, Mo	Anticipated Graduation 12/2023

                    </p>
                    <p>
                        •	.NET Core MVC Framework <br>
                        •	Troubleshooting & Debugging		<br>
                        •	Source Control	<br>
                        •	Agile/Scrum (Created Team Project) <br>	•	Website Deployment <br>
                        •	Pair Programming <br>
                        •	Code Review

                    </p>
                </div>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <img src="~/assets/img/Code1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-3 pt-lg-0 transbox">
                    <h3>WORK EXPERIENCE</h3>
                    <p><strong>Project Manager</strong>, Sanders Management Inc. <br> Kansas City, Missouri</p>
                    <ul>
                        <li><i class="bi bi-check"></i> •	Daily communication and workflow analyst on several project with weekly milestone deadlines to ensure proper completion dates.</li>
                        <li><i class="bi bi-check"></i> •	Galleria: Led a skilled team of 20 professionals in the successful installation and commissioning of HVAC systems for a prestigious 322-unit apartment complex valued at over $70,000,000</li>
                        <li><i class="bi bi-check"></i> •	City Place Corporate Center: Built out the Core and Shell of a commercial office building HVAC, which then transitioned right into tenant specified hvac installation for their particular floor plan. The Tenant finish of this building accommodated 4 different tenants needs.</li>
                    </ul>
                </div>
            </div>
            <!--
                    <div class="row content">
                      <div class="col-lg-6 order-1 order-lg-2">
                        <img src="~/assets/img/members/featured-members-4.jpg" class="img-fluid" alt="">
                      </div>
                      <div class="col-lg-6 order-2 order-lg-1 pt-3 pt-lg-0">
                        <h3>Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h3>
                        <p class="fst-italic">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                          magna aliqua.
                        </p>
                        <p>
                          Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                          culpa qui officia deserunt mollit anim id est laborum
                        </p>
                      </div>
                    </div>

                  </div>
                </section><!-- End Featured Members Section -->
            <!-- ======= Members Section ======= -->
            <!-- <section id="members" class="members">
              <div class="container">

                <div class="row">

                  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                      <div class="member-img">
                        <img src="assets/img/members/member-1.jpg" class="img-fluid" alt="">
                        <div class="social">
                          <a href=""><i class="bi bi-twitter"></i></a>
                          <a href=""><i class="bi bi-facebook"></i></a>
                          <a href=""><i class="bi bi-instagram"></i></a>
                          <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                      </div>
                      <div class="member-info">
                        <h4>Amanda Jepson</h4>
                        <span>Accountant</span>
                        <p>Sint qui cupiditate. Asperiores fugit impedit aspernatur et mollitia. Molestiae qui placeat labore assumenda id qui nesciunt quo reprehenderit. Rem dolores similique quis soluta culpa enim quia ratione ea.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                      <div class="member-img">
                        <img src="assets/img/members/member-2.jpg" class="img-fluid" alt="">
                        <div class="social">
                          <a href=""><i class="bi bi-twitter"></i></a>
                          <a href=""><i class="bi bi-facebook"></i></a>
                          <a href=""><i class="bi bi-instagram"></i></a>
                          <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                      </div>
                      <div class="member-info">
                        <h4>Niall Katz</h4>
                        <span>Marketing</span>
                        <p>Aut ex esse explicabo quia harum ea accusamus excepturi. Temporibus at quia quisquam veritatis impedit. Porro laborum voluptatum sed necessitatibus a saepe. Deserunt laborum quasi consequatur voluptatum iusto sint qui fuga vel. Enim eveniet sed quibusdam rerum in. Non dicta architecto consequatur quo praesentium nesciunt.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                      <div class="member-img">
                        <img src="assets/img/members/member-3.jpg" class="img-fluid" alt="">
                        <div class="social">
                          <a href=""><i class="bi bi-twitter"></i></a>
                          <a href=""><i class="bi bi-facebook"></i></a>
                          <a href=""><i class="bi bi-instagram"></i></a>
                          <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                      </div>
                      <div class="member-info">
                        <h4>Demi Lewis</h4>
                        <span>Financing</span>
                        <p>Amet labore numquam corrupti est. Nostrum amet voluptas consectetur dolor voluptatem architecto distinctio consequuntur eligendi. Quam impedit enim aut nesciunt aut dicta quam exercitationem. Reprehenderit exercitationem magnam. Ullam similique ut voluptas totam nobis porro accusamus nulla omnis.</p>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </section>End Members Section -->
            -->

</main><!-- End #main -->